* {
  margin: 0;
  padding: 0;
}

html {
  /* this defines what 1 rem is */
  font-size: 62.5%;
  /* 1 rem = 10px  -> 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #131212;
}

ul,
li {
  list-style: none;
}

:root {
  /* Light Theme */
  --light-background: #ffffff;
  --light-fontColor: #1d2029;

  /* Darh Theme */
  --dark-background: #1d2029;
  --dark-fontColor: #ffffff;

  --defaultFontSize: 1.6rem;
}

.light-theme {
  --color-background: var(--light-background);
  --font-color: var(--light-fontColor);
}

.dark-theme {
  --color-background: var(--dark-background);
  --font-color: var(--dark-fontColor);
}

.App {
  background-color: var(--color-background);
  color: var(--font-color);
  height: 100vh;
  position: relative;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.helloworld {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 1rem 2rem;
  border: 2px solid currentColor;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--color-background);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
